@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Open Sans", sans-serif;
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  display: flex;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
}

.logos:after {
  right: 0;
}

.logos:hover .slide {
  animation-play-state: paused;
}

.slide {
  display: flex;
  animation: 40s scroll infinite linear;
}

.slide img {
  height: 100px;
  margin: 0 40px;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translatex(-100%); }
}
